.popup-content-wrapper {
  max-height: 200px;
  overflow-y: auto;
  background: #FFF;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  padding: 1px;
  border-radius: 12px;
}

.popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

.popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.popup-tip {
  background: #FFF;
  box-shadow: 4px 4px 25px 2px rgba(0, 0, 0, 0.4);
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #F96;
  display: flex;
  align-items: center;
  justify-content: center;
}
